<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
		<class name="Tests.Retail"/>
		<class name="Tests.BankWire"/>
        <class name="Tests.CCAvenue"/>
      	<class name="Tests.Essecom"/>
      	
      	<class name="Tests.QARetail"/>
      	<class name="Tests.QACCAvenue"/>
      	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
